@font-face {
    font-family: Reckless;
    src: url(./Fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family:RobotoMono-Medium ;
    src: url(./Fonts/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: RobotoMono-Regular;
    src: url(./Fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(./Fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family: Midnight;
    src: url(./Fonts/midnight-sans-rd-12-medium-trial.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    width: 100%;
}

main{
    min-height: 100vh;
    background-color: #FBF9EB;
}

main nav{
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    padding: 0.8rem;

    border: 1.5px solid #111;
    border-radius: 20px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-part1{
    
    display: none;
}

.nav-part1 h3{
    font-family: Reckless;
}

.nav-part3{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}

.links{
    

    display: none;

}

.links h3{

    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
}


.section-1{
    
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry_mobile.webp?v=1774284087&width=1350.0");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid #000;
}

nav i{
    font-size: 25px;
    
    color: #111;

    font-weight: 300;

    cursor: pointer;

    position: relative;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-1 .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;

    /* align-items: center; */

}

.content h1{
    text-align: center;
    color:#FBF9EB;
    font-weight: 300;

    font-family: Reckless;

    /* max-width: 40%; */
    font-size: clamp(3rem,5vw,5rem);
}

.content p{
    text-align: center;


    font-family: RobotoMono-Regular;

    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
    /* max-width: 40%; */

    font-weight: 500;

    line-height: 1.2;

    color: #FBF9EB;
    letter-spacing: -1px;

   
}

.content button{
    width: 13rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree ;
    font-size: 1.3rem;
    font-weight: 600;

    align-self: center;
}


#section-2{
    min-height: 100vh;
    width: 100%;
    padding: 8rem 1rem;
    border-bottom: 1px solid #000;
}

#section-2 .section-2-text{
    font-family: Reckless;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-text h1{
    width: 70%;
    font-size: clamp(2.2rem,5vw,4rem);
    font-weight: 300;
}

#section-2 .btn-wrapper button{
    padding: 0.1rem 0.1rem;
    font-size: 2rem;
    font-family: Midnight;
    font-weight: 600;
    background-color: #DAAEEA;
    rotate: -6deg;
    margin-top: 3rem;
    letter-spacing: 0.1rem;

}

#section-2 .card-container{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    overflow-x: auto;
    gap: 3rem;

}

.card{
    display:flex ;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    width: 40vh;
}

.card-top{
    width: 100%;
    height: 50vh;
    background-color: #C1EE91;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid #000;
    overflow: hidden;
}

.card-top.card-2{
    background-color: #FFD884;
}

.card-top.card-3{
    background-color: #B0E8C1;
}

.card-top.card-4{
    background-color: #C1E4F8;
}

.card-top.card-5{
    background-color: #C0E571;
}

.card-top.card-6{
    background-color: #FFCB96;
}

.card-top-text{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}

.card-top-text .button{
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #000;
   background-color: #fff;
   font-family: Midnight;
   font-size: 1.2rem;
   text-transform: uppercase;
   display: block;
   
   font-weight: 400;
}
.card-top-text span{
    font-size: 1rem;
    font-family: Reckless;
    letter-spacing: 0.1rem;
}

.card-top img{
    height: 85%;
    width: 90%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0%;
    transition: all ease 0.4s;
}


.card-btm-text{
    background-color: #fff;
    padding: 0.3rem 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-family: Reckless;
    font-size: 1.2rem;
    border: 1px solid #000;
}

.card-top:hover img{
    scale: 1.1;
}

.card-btm{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-family: Reckless;
    align-items: start;
}

.card-btm h1{
    font-family: Reckless;
    font-weight: 400;
    font-size: clamp(1.5rem,1.8vw,2rem);
}

.card-btm h3{
    font-family: Figtree;
    font-weight: 500;
    font-size: clamp(0.8rem,1vw,1rem);

}
.card-btm p{
    font-family: Figtree;
    font-weight: 400;
    font-size: clamp(0.8rem,1vw,1rem);
    opacity: 0.8;
    width: 90%;
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btm-btn{
    
   padding: 1.2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    font-size: 1.1rem;
    
}

.card-container::-webkit-scrollbar{
  display: none;
}


.button-1{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}
.button-1 button{
    width: 15rem;
    padding: 1rem 2.2rem;
    border-radius: 2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree ;
    font-size: 1.2rem;
    font-weight: 500;

    align-self: center;


}

#section-3{
    padding: 2rem;
    width: 100%;
    gap: 3rem;
    overflow: auto;
    
}

#section-3 .header{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    width: 100%;
    padding: 0;
}
#section-3>button{
    padding: 0.1rem 0.2rem;
    font-size: 4rem;
    font-family: Midnight;
    font-weight: 600;
    background-color: #FF7F31;
    rotate: -6deg;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;

}







.search-box input{
    width: 90%;
    height: 5rem;

    border: 1px solid #4a4a4a;
    border-radius: 16px;

    background: transparent;

    padding-left: 20px;

    font-size: 28px;
    font-family: serif;

    outline: none;
}

.search-box input::placeholder{
    color: #9d9890;
}


.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.3rem;

    width: 85%;
    margin-top: 30px;
}

.tags button{
    padding: 0.5rem 1.5rem;

    border: 1px solid #3d3d3d;
    border-radius: 0.8rem;

    background:  #a9ceff;

    font-size: 1.5rem;
    font-weight: 500;

    cursor: pointer;
    color: #000;

    transition: ease 0.3s;

    font-family: Reckless;

    white-space: nowrap;
}

.tags button:hover{
    background: #72a6e9;
}


#section-3{
    width: 100%;
    min-height: 60vh;
}

#section-3 header{
    width: 100%;
    margin-bottom: 9rem;
}

#section-3 h1{
    font-family: Reckless;
    font-weight: 300;
    font-size: clamp(1.7rem,3vw,5rem);
    
}

#section-3 p{
    font-family: Figtree;
    font-weight: 400;
    margin-top: 7rem;
    font-size: 0.8rem;
}

#section-4{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&width=1600");
    position: relative;
    padding: 10rem 2rem;
    background-size: cover;
    
}

#section-4>img{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 2rem;
    top: 0;
    transform: translateY(-30%);
}

#section-4 button{
    max-width: 15rem;
    padding: 0.1rem 0.2rem;
    font-size: clamp(2.5rem,4vw,3.5rem);
    font-family: Midnight;
    font-weight: 500;
    background-color: #A2C9FC;
    rotate: -2deg;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;

}

#section-4 .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
}

#section-4 .contents h1{
    color: white;
    font-family: Midnight;
    font-width: 800;
    font-size: clamp(3rem,11vw,17rem);
    line-height: 0.9;
    letter-spacing: 0.2rem;
    text-align: center;
}

#section-4 .contents>p{
    color: white;
    font-family: Reckless;
    text-align: center;
    font-size: clamp(2rem,4vw,9rem);
    font-width: 900;
    line-height: 1.2;
}

#section-4 .features{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(5rem, 9vw, 15rem);
}

#section-4 .features .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    text-align: center;
}



#section-4 .features .feature>p{
    color: white;
    text-align: center;

}

#section-4 .contents .features .feature img{

    width: 100px;
    height: 100px;
}

#section-4 .contents .btm-btn{
    border-radius: 2rem;
    
    
    

    margin-top: 5rem;
    width: 15rem;
    padding: 1rem 1.3rem;
    border-radius: 2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree ;
    font-size: 1.2rem;
    font-weight: 500;
    rotate: 0deg;

    align-self: center;
}


@media (min-width:1024px){

    .section-1{

        background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=720");
        width: 100%;

    }

    .nav-part1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}


.nav-part-1{
    display: none;
}

.content{
    width: 100%;
    text-align: left  !important;

    align-items: start;
}

.content h1{
    text-align: left;
    max-width: 40%;
    
}

.content p{
    text-align: left;
    max-width: 40%;
}

.content button{
    align-self: flex-start;
}

.card-container{
    margin-top: 4rem;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section-3{
    padding: 5rem 15rem;
}

#section-3 .tags{
    max-width: 80%;
}

.search-box input{
    width: 25rem;
    height: 5rem;
}

#section-4{
    padding: 13rem;
}

#section-4 img{
    width: 150px;
    height: 150px;
}
    
}